#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	display: none;
	z-index: 1000;
	opacity: 0.9;

	font-family: Menlo, monospace;
	font-size: 12px;
}

#command {
	width: 600px;

	font-family: inherit;
	font-size: inherit;
}

#results {
	overflow: scroll;
	max-height: 500px;
	border: 1px solid black;
}

.entry {
	background: white;
}
.highlighted {
	color: white;
	background: rgb(21%, 45%, 84%);
}
