.open-badge {
	font-family: sans-serif;
	font-size: 14px;
	background-color: #6cc644;
	display: inline-block;
	padding: 4px 8px;
	line-height: 16px;
	color: #fff;
}

.octicon {
	vertical-align: top;
}

.octicon-issue-opened {
	margin-left: 1px;
	margin-right: -1px;
}
