#toc-overlay {
	position: fixed;
	top: 15px;
	right: 15px;
	bottom: 50px;
	z-index: 1000;
	pointer-events: none;

	font-family: inherit;
	font-size: 12px;
	line-height: 1.3;
}

#toc-results {
	overflow-x: hidden;
	max-height: 100%;
	border: 1px solid lightgray;
	pointer-events: initial;
}

div.toc-entry {
	cursor: hand;
}

.toc-entry {
	color: inherit;
	background: white;
}
.toc-entry:hover {
	background: rgb(92.5%, 92.5%, 92.5%);
}
.toc-highlighted, .toc-highlighted:hover, a.toc-highlighted:hover {
	color: white;
	background: rgb(21%, 45%, 84%);
}
